.card-credit {
    background-color: #003b67;
    padding: 3rem;
    margin: auto;
    width: 28%;
    display: grid;
    gap: 1rem;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}