:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: rgb(8,79,133);
  background: linear-gradient(360deg, rgba(0,59,103,1) 0%, rgba(8,79,133,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
}

* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
